@model int?  
<div class="form-group">
    <label class="form-label">Class</label>
    <select class="form-control form-input">
        <option value="">Select a Class</option>
        @for (int i = 1; i <= 12; i++)
        {
            <option value="@i">@i</option>
        }
    </select>    
</div>
